.manageproduct-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(197, 197, 197);
}

.manageproduct-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.manageproduct-image {
  width: 150px;
  height: 150px;
}

.manageproduct-buttoncontainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
