.productdetails-carousel-container {
  width: 490px;
  max-height: 440px;
  margin-top: 100px;
  margin-left: 100px;
}

.carousel .carousel-root {
  width: 100%;
  height: 100%;
}

.productdetails-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-slider {
  width: 100%;
  height: 100%;
}

.productdetails-image-container {
  width: 490px;
  height: 440px;
}

.carousel .thumbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 300px;
  margin-top: 70px;
}

.carousel .thumbs .thumb img {
  height: 70px;
  object-fit: cover;
}

.carousel .thumbs-wrapper {
  position: absolute;
  top: -510px;
  left: -150px;
}

.carousel .control-arrow:hover {
  opacity: 1;
}

.carousel .control-prev.control-arrow {
  left: 10px;
}

.carousel .control-next.control-arrow {
  right: 10px;
}

.carousel .control-dots {
  bottom: 0px;
}
.carousel .control-dots .dot {
  width: 6px;
  height: 6px;
}

.product-details-container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.productdetails-information {
  width: fit-content;
  height: 340px;
  margin-top: 100px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.09);
  padding-left: 14px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 90px;

}

.productdetails-information > h4 {
  color: rgb(0, 0, 0);
  margin: 0px;
  font-size: 14px;
}

#productdetails-price {
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#productdetails-name {
  margin-bottom: 5px;
}

#productdetails-seller {
  margin-bottom: 10px;
  color: rgb(138, 138, 138)
}

#productdetails-rating {
  margin-bottom: 50px;
}

#productdetails-desc {
  margin-bottom: 10px;
  font-weight: normal;
}

.productdetails-sidebar-container {
  width: 400px;
  box-sizing: border-box;
}

.productdetails-reviewbutton {
  margin-left: 142px;
  margin-top: 34px;
  padding: 10px 50px;
  background-color: white;
  border-radius: 40px;
  border: 1px solid rgb(151, 151, 151)
}

.productdetails-reviewbutton:hover {
  cursor: pointer;
}

.favoritedheart {
  color: rgb(210, 39, 39);;
  position: absolute;
  top: 202px;
  left: 604px;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 50%;
  padding: 7px;
  font-size: 13px;
}

.unfavoritedheart {
  color: rgb(30, 30, 30);;
  position: absolute;
  top: 202px;
  left: 604px;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 50%;
  padding: 7px;
  font-size: 13px;
}

.favoritedheart:hover {
  cursor: pointer;
}

.unfavoritedheart:hover {
  cursor: pointer;
}

#upper-div{
  display: flex;
  width:100%;
}

#product-tag-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#individual-tag{
  background-color: rgb(230, 230, 230);
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  padding: .25rem;
  border-radius: 30px;
  z-index: 10;
  font-size: 12px;
}

#remove-tag:hover {
  cursor: pointer;
  color: red;
}
