.productdetails-carousel-container {
  width: 490px;
  max-height: 440px;
  margin-top: 100px;
  margin-left: 100px;
}

.carousel .carousel-root {
  width: 100%;
  height: 100%;
}

.productdetails-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-slider {
  width: 100%;
  height: 100%;
}

.productdetails-image-container {
  width: 490px;
  height: 440px;
}

.carousel .thumbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 300px;
  margin-top: 70px;
}

.carousel .thumbs .thumb img {
  height: 70px;
  object-fit: cover;
}

.carousel .thumbs-wrapper {
  position: absolute;
  top: -510px;
  left: -150px;
}

.carousel .control-arrow:hover {
  opacity: 1;
}

.carousel .control-prev.control-arrow {
  left: 10px;
}

.carousel .control-next.control-arrow {
  right: 10px;
}

.carousel .control-dots {
  bottom: 0px;
}
.carousel .control-dots .dot {
  width: 6px;
  height: 6px;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22vh;
  width: 60%;
}

.productdetails-information {
  box-sizing: border-box;
  word-wrap: break-word;
  width: 390px;
  height: 400px;
  margin-top: 100px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.09);
  padding-left: 14px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}

.productdetails-information > h4 {
  color: rgb(0, 0, 0);
  margin: 0px;
  font-size: 14px;
}

#productdetails-price {
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#productdetails-name {
  margin-bottom: 5px;
}

#productdetails-seller {
  margin-bottom: 10px;
  color: rgb(177, 177, 177);
  font-weight: 500;
}

#productdetails-rating {
  margin-bottom: 50px;
}

#productdetails-desc {
  margin-bottom: 10px;
  font-weight: normal;
}

.productdetails-sidebar-container {
  width: 400px;
  box-sizing: border-box;
  position: relative;
}

.productdetails-reviewbutton {
  margin-left: 224px;
  margin-top: 34px;
  padding: 10px 18px;
  background-color: rgb(255, 255, 255);;
  border: 1px solid rgb(203, 40, 40);
  color: rgb(203, 40, 40);;
}

.productdetails-reviewbutton:hover {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgb(203, 40, 40);;
}

#upper-div{
  position: relative;
  z-index: 0;
}

.favoritedheart {
  color: rgb(210, 39, 39);;
  position: absolute;
  top: 82px;
  left: 600px;
  border: 1px solid rgb(210, 39, 39);
  border-radius: 50%;
  padding: 7px;
  font-size: 13px;
  z-index: 1;
}

.unfavoritedheart {
  color: rgb(30, 30, 30);;
  position: absolute;
  top: 82px;
  left: 600px;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 50%;
  padding: 7px;
  font-size: 13px;
  z-index: 1;
}

.favoritedheart:hover {
  cursor: pointer;
}

.unfavoritedheart:hover {
  cursor: pointer;
}

#upper-div{
  display: flex;
  width:100%;
}

#product-tag-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#individual-tag{
  background-color: rgb(230, 230, 230);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 12px;
  padding: 4px 13px;
  background-color: rgb(179, 17, 17);
  color: white;
}

.productdetails-tagcontainer {
  position: absolute;
  bottom: 30px;
}

._add-tag-btn {
  background-color: rgb(182, 23, 23);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem;
  border-radius: 30px;
  font-size: 12px;
}

._add-tag-btn:hover {
  background-color: rgb(196, 183, 183);
  cursor: pointer;
}

#remove-tag {
  position: absolute;
  top: -2px;
  right: 5px;
  font-size: 12px;
}

#remove-tag:hover {
  cursor: pointer;
  color: red;
}

.hidden {
  display: none;
}

.productdetails-tags {
  position: absolute;
  bottom: 90px;
}

.product-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-not-found h4 {
  font-size: 32px;
}

.product-not-found img {
  width: 400px;
  /* border-radius: 50%; */
}
