.reviews {
  list-style: none;
  border-bottom: solid 1px rgb(146, 144, 144);
}
.review-user-date{
  color: #5c5d5e;
  font-size: 13px;
  margin-bottom: 20px;
}

.review-stars{
  margin: 10px 0px 10px 0px
}
.reviews-count-rating-header{
  margin-top: 30px;
  /* border-top: rgb(169, 169, 169) 1px solid; */
}

.productdetails-update-review-reviewbuttons{
  background-color: transparent;
  border: none;
}

.productdetails-update-reviewbutton{
  background-color: transparent;
  border: none;
  border-right: 1px gray solid;
  padding-left: 0px;
  color: rgb(95, 94, 94);
}

.productdetails-delete-reviewbutton{
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  color: rgb(95, 94, 94);
}

