.n-product-form-wrapper {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  align-items: center;
  justify-self: center
}

.n-product-form-wrapper label {
  display: flex;
  flex-direction: column;
  width: 300px;
  row-gap: 10px;

}

.n-tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: .5rem;
}

.n-tag-wrapper > li {
  list-style-type: none;
}

.tag-untoggled {
  background-color: lightgray;
  width: fit-content;
  border-radius: 30px;
  padding: .25rem;
}

.tag-untoggled:hover {
  background-color: rgb(238, 233, 233);
  cursor: pointer;
}

.tag-toggled {
  width: fit-content;
  border-radius: 30px;
  padding: .25rem;
  background-color: rgb(82, 79, 79);
  color: white;
}

.tag-toggled:hover {
  cursor: pointer;
}

.tag-add {
  background-color: lightgray;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 30px;
  padding: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-add:hover {
  background-color: rgb(238, 233, 233);
  cursor: pointer;
}

.add-tag-btn {
  width: fit-content;
  background-color: rgb(158, 189, 158);
  border-radius: 5px;
  padding: .25rem;
  color: white;
}
.add-tag-btn:hover {
  cursor: pointer;
  background-color: rgb(76, 128, 76);
}

#custom-tag-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
}

.hidden{
  display: none;
}

.show{
  display: block;
}
